@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    box-sizing: border-box;
}

/*Lisätään sivustolle taustakuva, joka on GIF-tiedosto, se looppaa taustalla*/
html { 
    background:  url(https://c.tenor.com/Q75N9LZ267cAAAAC/oiwa-tribe-codm.gif) no-repeat center center fixed; 
    background-size: cover;
  }

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow:hidden;
    text-align: center;
    text-decoration: line-through;
}

.btn{
    background-image: linear-gradient(90deg, purple, blue); /*Tehdään nappien väristä kaksi väriset*/
    border:none;
    border-radius: 5px;
    color:#fff;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-family: inherit;
    font-size: 16px;
    cursor:pointer;
}

/*Luodaan napille ympärys, kun sitä painetaan*/
.btn:focus{
    outline: 1px;
    outline-offset: 5px;
    outline-style: ridge;
    outline-color:rgba(114, 53, 172, 0.63);
    outline-width: 5px;
}

.btn:hover{
    opacity:0.9; /*Kun kursori on napin päällä, nappi samenee*/
}